<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
           version="3.0">

    <listener>
        <listener-class>listener.memberListener</listener-class>
    </listener>
    <servlet>
        <display-name>Login</display-name>
        <servlet-name>Login</servlet-name>
        <servlet-class>servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <display-name>Logout</display-name>
        <servlet-name>Logout</servlet-name>
        <servlet-class>servlets.Logout</servlet-class>
    </servlet>
    <servlet>
        <display-name>Register</display-name>
        <servlet-name>Register</servlet-name>
        <servlet-class>servlets.Register</servlet-class>
    </servlet>
    <servlet>
        <display-name>Signin</display-name>
        <servlet-name>Signin</servlet-name>
        <servlet-class>servlets.Signin</servlet-class>
    </servlet>
    <servlet>
        <display-name>OrderDessert</display-name>
        <servlet-name>OrderDes</servlet-name>
        <servlet-class>servlets.OrderDes</servlet-class>
    </servlet>
    <servlet>
        <display-name>OrderGen</display-name>
        <servlet-name>OrderGen</servlet-name>
        <servlet-class>servlets.OrderGen</servlet-class>
    </servlet>
    <servlet>
        <display-name>Recharge</display-name>
        <servlet-name>Recharge</servlet-name>
        <servlet-class>servlets.Recharge</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterCustomer</servlet-name>
        <servlet-class>servlets.AlterCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Signout</servlet-name>
        <servlet-class>servlets.Signout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddDes</servlet-name>
        <servlet-class>servlets.AddDes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditDes</servlet-name>
        <servlet-class>servlets.EditDes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteDes</servlet-name>
        <servlet-class>servlets.DeleteDes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SellDes</servlet-name>
        <servlet-class>servlets.SellDes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetCuslevel</servlet-name>
        <servlet-class>servlets.SetCuslevel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetStaffshop</servlet-name>
        <servlet-class>servlets.SetStaffshop</servlet-class>
    </servlet>

</web-app>
